<app-header></app-header>
<div class="password-reset-container">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div>
            <label>New Password:</label>
            <input formControlName="password" type="password">
        </div>
        <!-- <div formGroupName="confirmNewPassword">
            <label>Confirm New Password:</label>
            <input formControlName="confirmNewPassword" type="password">
        </div> -->
        <button type="submit">Reset Password</button>
    </form>
</div>
<app-footer></app-footer>