<header>
  <div class="logo">
    <a href="#">Knanaya<span>Matrimony</span></a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a style="text-decoration: none;" href="#">Home</a></li>
      <li><a style="text-decoration: none;" href="#">About</a></li>
      <li><a style="text-decoration: none;" href="#">Services</a></li>
      <li><a routerLink=""><button type="button" class="login-signup">Login</button></a></li>
    </ul>
  </nav>
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<script>
  // Toggle the nav-links when hamburger is clicked
  const hamburger = document.querySelector('.hamburger');
  const navLinks = document.querySelector('.nav-links');

  hamburger.addEventListener('click', () => {
    navLinks.classList.toggle('open');
  });
</script>