<!-- Footer Section -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <h5>About Us</h5>
          <ul>
            <li><a routerLink="/about">Our Story</a></li>
            <li><a routerLink="/team">Meet the Team</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6">
          <h5>Help & Support</h5>
          <ul>
            <li><a routerLink="/faq">FAQs</a></li>
            <li><a routerLink="/terms">Terms & Conditions</a></li>
            <li><a routerLink="/privacy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6">
          <h5>Stay Connected</h5>
          <ul class="social-icons">
            <li><a href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="bi bi-instagram"></i></a></li>
          </ul>
          <p>Download our app:</p>
          <div class="app-stores">
            <a href="#" target="_blank"><img src="" alt="App Store"></a>
            <a href="#" target="_blank"><img src="" alt="Google Play"></a>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>&copy; 2024 Matrimony App. All rights reserved.</p>
      </div>
    </div>
  </footer>
