<app-main-header></app-main-header>

<div class="container">
    <div class="parent-card">
        <!-- Existing Profile Card -->
        <div class="profile-card">  
            <div class="profile-image">
                <img *ngIf="profile && profile.imagePath" [src]="getImageUrl(profile.imagePath)" alt="Profile Photo">
            </div>
            <div class="profile-details">
                <h2>{{profile?.name}}</h2>
                <p class="designation">{{profile?.occupation}} | {{profile?.country}}</p>

                <div class="main-details">
                    <p><img src="assets/images/ic_(1).png" alt="Age Icon" class="icon"> Age: <span>{{profile?.age}} Years</span></p>
                    <p><img src="assets/images/ic_(2).png" alt="Height Icon" class="icon"> Height: <span>{{profile?.height}}cm</span></p>
                    <p><img src="assets/images/ic_(3).png" alt="Education Icon" class="icon"> Education: <span>{{profile?.education}}</span></p>
                    <p><img src="assets/images/ic_(4).png" alt="Home Icon" class="icon"> Home Address: <span>{{profile?.houseName}},{{profile?.place}},{{profile?.district}},{{profile?.state}}</span></p>
                </div>
            </div>
        </div>

        <!-- Two Additional Cards -->
        <div class="additional-cards">

            <!-- Other Info Card -->
            <div class="other-info-card">
                <h3>Other Info</h3>
                <p>Fathers Name: {{profile?.fatherName}}</p>
                <p>Mothers Name: {{profile?.motherName}}</p>
                <p>House Name: {{profile?.houseName}}</p>
                <p>Diocese: {{profile?.diocese}}</p>
                <p>Parish: {{profile?.parish}}</p>
            </div>
            <!-- Contact Info Card -->
            <div class="contact-info-card">
                <h3>Contact Info</h3>
                <p><img src="assets/images/ic_(6).png" alt="Age Icon" class="icon">+{{profile?.countryCode}} {{profile?.phone}}</p>
                <p><img src="assets/images/ic_(5).png" alt="Age Icon" class="icon"> {{profile?.email}}</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>