/* Global Reset and Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    /* Prevent scrollbars */
}

/* Main Container */
.login-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Slider Section */
.slider {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.slider .list {
    display: flex;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.slider .list .item {
    min-width: 100%;
    height: 100%;
}

.slider .list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
    max-width: 400px;
}

.slider .list .content h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: Cabin-SemiBold;
}

.slider .list .content p {
    font-size: 1.2rem;
    font-family: AdriannaExtended-Regular;
    line-height: 1.6;
}

/* Login Form - Positioned on the Right Center */
.login-form {
    position: absolute;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 10;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.80);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-content {
    text-align: center;
}

.site-header {
    margin-bottom: 20px;
}

.site-title {
    font-family: Cabin-SemiBold;
    font-size: 2rem;
    color: #FF246C;
}

.site-caption {
    color: #666;
    font-size: 1rem;
    font-family: AdriannaExtended-Regular;
}

.intro-description {
    font-size: 0.8rem;
    font-family: AdriannaExtended-Regular;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.form-control::placeholder {
    font-family: AdriannaExtended-Regular;
    color: #999;
    font-size: 0.8rem;
}


.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #FF246C;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.extra-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.extra-links a {
    color: #d32f2f;
    text-decoration: none;
    font-size: 0.8rem;
}

.extra-links a:hover {
    text-decoration: underline;
}

.password-group .input-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.1rem;
    color: #999;
}

.password-toggle:hover {
    color: #333;
}