<app-header></app-header>
<div class="dashboard">
    <div class="dashboard-header">
        <h1>Matrimony Profile Approval</h1>
        <span>Total Profiles: {{ profileCount }}</span>
    </div>
    <table class="profiles-table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Place</th>
                <th>Phone Number</th>
                <th>Verification File</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row" *ngFor="let profile of profiles , let i=index ">
                <td>{{i+1}}</td>
                <td>
                    <img [src]="getImageUrl(profile.imagePath)" alt="Profile" class="profile-photo">
                </td>
                <td>{{ profile.name }}</td>
                <td>{{profile.gender}}</td>
                <td>{{profile.age}}</td>
                <td>{{ profile.country }}</td>
                <td>{{profile.phone}}</td>
                <td>
                    <button class="btn btn-download" (click)="downloadPdf(profile.pdfPath)">
                        <i class="download-icon"></i> Download
                    </button>
                </td>
                <td>
                    <div class="action-buttons">
                        <button class="btn btn-approve" *ngIf="profile.status !== 1"
                            (click)="approveProfile(profile._id)">Approve</button>
                        <button class="btn btn-disapprove" *ngIf="profile.status === 1"
                            (click)="disapproveProfile(profile._id)">Disapprove</button>
                    </div>
                </td>
                <td>
                    <button class="btn btn-delete" (click)="confirmDelete(profile._id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>