<app-transparent-header></app-transparent-header>
<div class="forgot-password-wrapper">
    <div class="card">
        <h2>Forgot Password</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
            <div>
                <label>Email:</label>
                <input formControlName="email" type="email">
            </div>
            <button type="submit">Submit</button>
        </form>
        <div *ngIf="forgotPasswordSuccess" class="success-message">
        </div>
        <div *ngIf="forgotPasswordError" class="error-message">
            {{ forgotPasswordMessage }}
        </div>
    </div>
</div>
<app-footer></app-footer>
