body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.banner h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-container {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Desktop view */
@media (min-width: 1024px) {
    .form-container {
        width: 50%;
    }
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="tel"],
.form-group select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

#submit-btn {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #cc0000;
}

input[type="text"] {
    text-transform: uppercase;
  }
