<app-header></app-header>
<div class="form-container">
    <div class="site-header">
        <h1 class="site-title">Create Your Profile</h1>
    </div>
    <form id="matrimony-form" [formGroup]="createProfileForm" (ngSubmit)="createProfile()">
        <div class="form-columns">
            <div class="form-group">
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your Name">
                <div *ngIf="createProfileForm.get('name')?.errors && createProfileForm.get('name')?.touched"
                    class="error-message">
                    Name is required
                </div>
            </div>
            <div class="form-group">
                <input type="number" id="age" formControlName="age" placeholder="Age" class="form-control">
                <div *ngIf="createProfileForm.get('age')?.errors && createProfileForm.get('age')?.touched"
                    class="error-message">
                    Age is required
                </div>
            </div>
            <div class="form-group">
                <select id="gender" formControlName="gender">
                    <option value="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <div *ngIf="createProfileForm.get('gender')?.errors && createProfileForm.get('gender')?.touched"
                    class="error-message">
                    Gender is required
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="height" formControlName="height" placeholder="Height">
                <div *ngIf="createProfileForm.get('height')?.errors && createProfileForm.get('height')?.touched"
                    class="error-message">
                    Height is required
                </div>
            </div>
            <div class="form-group">
                <select id="country" formControlName="country">
                    <option value="">Country</option>
                    <option *ngFor="let country of countryNames" value="{{ country }}">{{ country }}</option>
                </select>
                <div *ngIf="createProfileForm.get('country')?.errors && createProfileForm.get('country')?.touched"
                    class="error-message">
                    Country is required
                </div>
            </div>
            <div class="form-group">
                <input type="tel" id="phone" formControlName="phone" class="form-control" placeholder="Phone Number">
                <div *ngIf="createProfileForm.get('phone')?.errors && createProfileForm.get('phone')?.touched"
                    class="error-message">
                    Phone number is required
                </div>
            </div>
            <div class="form-group">
                <select id="occupation" formControlName="occupation">
                    <option value="">Occupation</option>
                    <option *ngFor="let occupation of occupations" value="{{ occupation }}">{{ occupation }}</option>
                </select>
                <div *ngIf="createProfileForm.get('occupation')?.errors && createProfileForm.get('occupation')?.touched"
                    class="error-message">
                    Occupation is required
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="diocese" formControlName="diocese" class="form-control"
                    placeholder="Diocese Name">
                <div *ngIf="createProfileForm.get('diocese')?.errors && createProfileForm.get('diocese')?.touched"
                    class="error-message">
                    Diocese Name is required
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="parish" formControlName="parish" class="form-control" placeholder="Parish Name">
                <div *ngIf="createProfileForm.get('parish')?.errors && createProfileForm.get('parish')?.touched"
                    class="error-message">
                    Parish Name is required
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="house" formControlName="houseName" class="form-control" placeholder="House Name">
                <div *ngIf="createProfileForm.get('houseName')?.errors && createProfileForm.get('houseName')?.touched"
                    class="error-message">
                    House Name is required
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="father-name" formControlName="fatherName" class="form-control"
                    placeholder="Father's Name">
                <div *ngIf="createProfileForm.get('fatherName')?.errors && createProfileForm.get('fatherName')?.touched"
                    class="error-message">
                    Father's Name is required
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="mother-name" formControlName="motherName" class="form-control"
                    placeholder="Mother's Name">
                <div *ngIf="createProfileForm.get('motherName')?.errors && createProfileForm.get('motherName')?.touched"
                    class="error-message">
                    Mother's Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="pdf">Profile Picture</label>
                <input type="file" id="profile-picture" formControlName="profilePicture" (change)="onImageSelected($event)"
                    required>
                <div *ngIf="createProfileForm.get('fatherName')?.errors && createProfileForm.get('fatherName')?.touched"
                    class="error-message">
                    Profile Picture is required
                </div>
            </div>
            <div class="form-group">
                <label for="pdf">ID Proof</label>
                <input type="file" id="pdf" (change)="onPdfSelected($event)" accept=".pdf" formControlName="idproof">
                <div *ngIf="createProfileForm.get('fatherName')?.errors && createProfileForm.get('fatherName')?.touched"
                    class="error-message">
                    ID Proof is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" id="submit-btn">Create Profile</button>
        </div>
    </form>
</div>
<app-footer></app-footer>