/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2021/05/02/23/26/red-6224930_1280.jpg");
    background-size: cover;
}

body {
    margin: 0;
    font-family: AdriannaExtended-Regular;
}

/* src/styles.css */

@font-face {
    font-family: 'Alpino-Regular';
    src: url('/assets/fonts/Alpino-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'Alpino-Medium';
    src: url('/assets/fonts/Alpino-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: 'Alpino-Bold';
    src: url('/assets/fonts/Alpino-Bold.woff2') format('woff2'),
}

h1 {
    font-family: Alpino-Bold;
}

h2,h3,h4 {
    font-family: Alpino-Medium;
}

p {
    font-family: Alpino-Regular;
}

a {
    font-family: Alpino-Regular;
}