/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2021/05/02/23/26/red-6224930_1280.jpg");
    background-size: cover;
}

body {
    margin: 0;
    font-family: AdriannaExtended-Regular;
}

/* src/styles.css */

@font-face {
    font-family: 'Exo-Regular';
    src: url('/assets/fonts/Exo-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'Exo-Medium';
    src: url('/assets/fonts/Exo-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: 'Exo-Bold';
    src: url('/assets/fonts/Exo-Bold.woff2') format('woff2'),
}

h1 {
    font-family: Cabin-SemiBold;
}

h4 {
    font-family: Cabin-SemiBold;
}

p {
    font-family: AdriannaExtended-Regular;
}

a {
    font-family: AdriannaExtended-Regular;
}