<app-header></app-header>
<div class="container">
    <h2>Registration Form</h2>
    <form>
        <div class="form-group">
            <div>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
            </div>
            <div>
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="gender">Gender</label>
                <select id="gender" name="gender" [(ngModel)]="gender" required>
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div>
                <label for="country">Country</label>
                <select id="country" name="country" [(ngModel)]="countryName" required>
                    <option value="">Select Country</option>
                    <option *ngFor="let country of countryNames" value="{{ country }}">{{ country }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="emailId">
            </div>
            <div>
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" [(ngModel)]="phoneNumber">
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="userName">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="password">
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword">
            </div>
        </div>
        <button (click)="register()" type="submit">Register</button>
    </form>
</div>
<app-footer></app-footer>
